extends ../layout/index
block content
    main.container.mt-5 
      .row 
        .col-md-5 
          img.img-fluid(src="/img/about.jpg" alt="About Image")
        .col-md-7
          h1 #{pageTitle} 
          blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla excepturi eveniet ut obcaecati magni ratione reiciendis! Fugiat corrupti commodi eum iusto sit expedita voluptates soluta eligendi? Iure libero rem dicta!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quam, ipsa temporibus explicabo saepe dolores aperiam iure quae facilis! Provident voluptatum fuga voluptas eum sed officiis? Unde commodi aperiam excepturi.
    .icons-list 
      .container.mt-5.py-5.text-center  
        .row 
          .col-md-4
            img.img-fluid.mb-4(src="/img/icon_trust.svg" )
            h2.mb-4 Trust \& safety
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit deserunt nisi placeat ex obcaecati soluta consequatur odio ratione facilis qui nam rem cum est, labore maiores quod explicabo vitae!
          .col-md-4
            img.img-fluid.mb-4(src="/img/icon_destiny.svg" )
            h2.mb-4 Best Destinations 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit deserunt nisi placeat ex obcaecati soluta consequatur odio ratione facilis qui nam rem cum est, labore maiores quod explicabo vitae!
          .col-md-4
            img.img-fluid.mb-4(src="/img/icon_price.svg" )
            h2.mb-4 Best Price
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit deserunt nisi placeat ex obcaecati soluta consequatur odio ratione facilis qui nam rem cum est, labore maiores quod explicabo vitae!
